.home-container {
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
}

@media screen and (min-width: 768px) {
    .home-container {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;
    }
}

.home-content {
    background-image: url("https: //www.incimages.com/uploaded_files/image/1920x1080/getty_473909426_129584.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .home-content {
        align-items: flex-start;
    }
}

.home-mobile-img {
    width: 206px;
}

@media screen and (min-width: 768px) {
    .home-mobile-img {
        display: none;
    }
}

.home-desktop-img {
    width: 50%;
    max-width: 450px;
    margin-left: 85px;
}

@media screen and (max-width: 767px) {
    .home-desktop-img {
        display: none;
    }
}

.home-heading {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 0px;
    font-size: 36px;
    color: #1e293b;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .home-heading {
        font-size: 46px;
        text-align: left;
    }
}

.home-description {
    font-family: 'Roboto';
    margin-top: 36px;
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .home-description {
        font-size: 18px;
        margin-top: 0px;
        text-align: left;
    }
}

.shop-now-button {
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #ffffff;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: #0967d2;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 768px) {
    .shop-now-button {
        width: 150px;
        font-size: 16px;
    }
}

.background-container{
    background-image: url("/background.jpg");
    
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
   

}
.body-container{
    height: 200px;
    width: 200px;
    color: white;
    margin-left: 30px;
}
.middle-section{
    background-color: white;
    display: flex;
    height: 500px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.middle-section-head{
    width: 50%;
}
.middle-section-image{
    display: flex;
}

.started-container{
    background-color: palevioletred;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heading2{
    color: white;
    font-size: 23px;
    margin-left: 30px;
    
}
.para2 {
    color: white;
    margin-left: 30px;
    width: 1000px;
    
}

.login-form {
    display: flex;
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    border-radius: 2px;
    width: 800px;
   
}

.text1{
    margin-right: 30px;
    padding: 30px;
}

.login-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    background-color:#063970;
    width: 200px;
    color: white;
    height: 40px;
}
.footer-section {
    background-color: #f6f7f9;
    background-size: cover;
    height: 220px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;

}

.text {
    color: #c2c3c5;
    font-family: "Roboto";
    font-size: 10px;

}